<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="NWglv6LLyOsjuTNPLeC5jESqsdfM53O7IwPXAY0C7BI" />
    <title>Brandon Geraci</title>
    <meta name="google-site-verification" content="NWglv6LLyOsjuTNPLeC5jESqsdfM53O7IwPXAY0C7BI" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">


</head>
<style>
    div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

</style>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">

            <h1>
                <!--<img src="img/familytreequilt_logo.png" style="width:60px; height: 35px;">-->
                <a href="#intro" class="scrollto">Brandon Geraci</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#software">Software Engineering</a></li>
                <li><a href="#projects">My Projects</a></li>
                <li><a href="#call-to-action">Military Experience</li>
                <!--<li><a href="#team">Team</a></li>-->
                <!--<li class="menu-has-children"><a href="">Drop Down</a>-->
                    <!--<ul>-->
                        <!--<li><a href="#">Drop Down 1</a></li>-->
                        <!--<li><a href="#">Drop Down 3</a></li>-->
                        <!--<li><a href="#">Drop Down 4</a></li>-->
                        <!--<li><a href="#">Drop Down 5</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->



<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('img/intro-carousel/1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Software Engineer</h2>
                                <p>
                                    My Passion is creating software. I also enjoy debuging and fixing software as much as I do making it.
                                    I have worked with C/C++, Python, Java, C#, and Javascript applications.
                                </p>
                            <a href="#skills" class="btn-get-started scrollto">My Skills</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/intro-carousel/2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Univeristy of Minnesota Duluth Graduate</h2>
                                <p>I studied Computer Science at the Swenson College of Science and Engineering at the University of Minnesota Duluth.</p>
                            <a href="#about" class="btn-get-started scrollto">My Education</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/intro-carousel/3.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Combat Veteran</h2>
                                <p>
                                    I served in the United State Army for 8 years. I deployed to Kabul, Afghanistan in the summer of 2012.
                                </p>
                            <a href="#call-to-action" class="btn-get-started scrollto">My Military Story</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/intro-carousel/4.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Cybersecuirty Enthusiast</h2>
                            <p>
                                My passion is Computer Security.
                            </p>
                            <a href="#cybersecurity" class="btn-get-started scrollto">Why Cybersecurity?</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/intro-carousel/5.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Father of Three</h2>
                            <p>
                                My family is what keeps me motivated and going. During my time in the military I realized
                                was the most important part of my life. That is what drove me to go back to college and
                                complete my four year degree at UMD.
                            </p>
                            <a href="#about" class="btn-get-started scrollto">My Family</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--&lt;!&ndash;==========================-->
      <!--Featured Services Section-->
    <!--============================&ndash;&gt;-->
    <!--<section id="featured-services">-->
        <!--<div class="container">-->
            <!--<div class="row">-->

                <!--<div class="col-lg-4 box">-->
                    <!--<i class="ion-ios-bookmarks-outline"></i>-->
                    <!--<h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>-->
                    <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
                <!--</div>-->

                <!--<div class="col-lg-4 box box-bg">-->
                    <!--<i class="ion-ios-stopwatch-outline"></i>-->
                    <!--<h4 class="title"><a href="">Dolor Sitema</a></h4>-->
                    <!--<p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>-->
                <!--</div>-->

                <!--<div class="col-lg-4 box">-->
                    <!--<i class="ion-ios-heart-outline"></i>-->
                    <!--<h4 class="title"><a href="">Sed ut perspiciatis</a></h4>-->
                    <!--<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</section>&lt;!&ndash; #featured-services &ndash;&gt;-->


    <section id="why">
        <div class="container">
            <header class="section-header" style="margin-top: 50px">
                <h3>My Web App</h3>
                <p>
                    I created this web app to test my web app development knowledge. Also because it was really fun to make.
                </p>
                <h4>Tools used to make this site:</h4>
                <h5>Amazon AWS</h5>
                <p>Amazon AWS EC2 is a very cost effective means of hosting a server. I am currently using the free tier EC2 to host this site but amazon has many other options
                for online virtual machines.</p>
                <h5>NodeJS</h5>
                <p>I choose NodeJS because I felt for a personal website javascript would be just right. I have experience
                making web apps in Python and Java as well and prefer Python's Flask. Flask was a bit on the heavy side for 
                this website. NodeJS uses the node package manager (NPM) to install packages like bootstrap or other tools
                for a website.</p>
                <h5>BootStrap</h5>
                <p>I am not an artist and I do not have that design gene. Because I lack
                the ability to make things look pretty I decided to go with Bootstrap 5. Really awesome package for
                web development to add a nice GUI to a page. I prefer working on the database and
                actual application rather than wasting time on HTML.</p>
            </header>
        </div>
    </section>


    <!--==========================
      About Me Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Me</h3>
                <p>
                    My name is Brandon Geraci. I was born and raised in the New Orleans area. I joined the Army Reserves
                    1 year before I graduated high school. I was accepted to the University of New Orleans where I planned
                    to major in Jazz. Plans changed and I transferred to active duty military and married my wife Chantell.
                    We moved to Fort Lewis, Washington. My military career lasted 8 years before I decided
                    to get out and go back to college. I attended the University of Minnesota Duluth from September of 2016
                    to December of 2018 where I graduated with a bachelors in Computer Science.
                    I have always had a passion for software development and am excited to start my career in the field.
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-school"></i></div>
                        </div>
                        <h2 class="title"><a href="#">My Education</a></h2>
                        <p>
                            I attended the University of Minnesota Duluth where I studied Software Engineering minoring in Mathematics.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="img/army.png" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#call-to-action">My Military Story</a></h2>
                        <p>
                            The military has provided me with leadership, teamwork, and problem solving skills.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="img/scrum-software-developement-cycle.png" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">My Projects</a></h2>
                        <p>
                            The UMD has given me the chance to tackle several projects. UMDAlive was a web app a team and I developed from scratch using the Flask, a python framework.
                        </p>
                    </div>
                </div>

            </div>
            <a href="GeraciCV.pdf" download>
                <button class="btn"><i class="fa fa-download"></i> My Résumé</button>
            </a>
        </div>
    </section><!-- #about -->

    <!--==========================
      Software Engineering Section
    ============================-->
    <section id="software">
        <div class="container">

            <header class="section-header wow fadeInUp" style="margin-top: 50px">
                <h3>Software Engineering</h3>
                <h4>I have experience working with the following tools:</h4>
            </header>

            <div class="row" style="margin-top: 50px; margin-bottom: 50px">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/0309.sdt-jetbrains.png" alt="" class="img-fluid" width="40%" length = "40%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/1200px-Java_programming_language_logo.svg.png" alt="" class="img-fluid" width="25%" length = "50%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/flask.png" alt="" class="img-fluid" width="50%" length = "50%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/aws_ec2.png" alt="" class="img-fluid" width="60%" length = "60%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/android.png" alt="" class="img-fluid" width="50%" length = "50%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/visual.png" alt="" class="img-fluid" width="50%" length = "50%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/docker.png" alt="" class="img-fluid" width="40%" length = "40%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="img">
                        <img src="img/skills/gdb-logo.png" alt="" class="img-fluid" width="50%" length = "50%">
                    </div>
                </div>


            </div>

        </div>
    </section><!-- #software -->


    <!--==========================
  Projects  Section
============================-->
    <section id="projects">
        <div class="container">

            <header class="section-header wow fadeInUp" style="margin-top: 50px">
                <h3>Projects</h3>
                <h4>I have experience working with the following tools:</h4>
            </header>

            <div class="row" style="margin-top: 50px; margin-bottom: 50px">




            </div>

        </div>
    </section><!-- #Projects -->


    <!--==========================
      Call To Action Section
    ============================-->
    <section id="cybersecurity" class="wow fadeIn">
        <div class="container text-center">
            <h3>Why Cybersecurity?</h3>
            <div class="transbox">
                <p><font color="black">
                    Growing up in the early 2000’s, I was always interested in computer security. Perhaps it was the game of cat and mouse that got me hooked, but I watched as new Trojans, Worms, and Viruses would surface, and AntiVirus software would catch them. As we move further into the millennium, the probability of an attack on our computer systems increases. The simple game of cat and mouse analogy may be an oversimplification of the current state. The number of cybersecurity attacks has increased to the point that even our nation's democracy could be at risk. From the issue of private data being misused by Cambridge Analytica, to controlling a Jeep with a laptop, security is becoming more and more important.

                </font>
                </p>

            </div>

            <!--<a class="cta-btn" href="#">Call To Action</a>-->



        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
        <div class="container">

            <header class="section-header">
                <h3>My Skills</h3>
                <p>
                    The following charts show my proficiency in different computer language as well as tools used to develope software.
                </p>
            </header>

            <h4>Languages</h4>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">C/C++ <i class="val">65%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">PYTHON <i class="val">75%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Java/C# <i class="val">70%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Javascript <i class="val">55%</i></span>
                    </div>
                </div>

            </div>

            <h4>Tools</h4>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Visual Studio <i class="val">85%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">GDB <i class="val">70%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Jetbrains (IntelliJ, CLion, PyCharm) <i class="val">90%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Amazon AWS <i class="val">80%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Docker <i class="val">55%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">VMWare/VirtualBox <i class="val">60%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">MongoDB / noSQL Databases <i class="val">70%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Web App Development <i class="val">90%</i></span>
                    </div>
                </div>




            </div>

        </div>
    </section>

    <!--&lt;!&ndash;==========================-->
      <!--Facts Section-->
    <!--============================&ndash;&gt;-->
    <!--<section id="facts"  class="wow fadeIn">-->
        <!--<div class="container">-->

            <!--<header class="section-header">-->
                <!--<h3>Facts</h3>-->
                <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
            <!--</header>-->

            <!--<div class="row counters">-->

                <!--<div class="col-lg-3 col-6 text-center">-->
                    <!--<span data-toggle="counter-up">274</span>-->
                    <!--<p>Clients</p>-->
                <!--</div>-->

                <!--<div class="col-lg-3 col-6 text-center">-->
                    <!--<span data-toggle="counter-up">421</span>-->
                    <!--<p>Projects</p>-->
                <!--</div>-->

                <!--<div class="col-lg-3 col-6 text-center">-->
                    <!--<span data-toggle="counter-up">1,364</span>-->
                    <!--<p>Hours Of Support</p>-->
                <!--</div>-->

                <!--<div class="col-lg-3 col-6 text-center">-->
                    <!--<span data-toggle="counter-up">18</span>-->
                    <!--<p>Hard Workers</p>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="facts-img">-->
                <!--<img src="img/facts-img.png" alt="" class="img-fluid">-->
            <!--</div>-->

        <!--</div>-->
    <!--</section>&lt;!&ndash; #facts &ndash;&gt;-->

    <!--&lt;!&ndash;==========================-->
      <!--edgeToEdge Section-->
    <!--============================&ndash;&gt;-->
    <!--<section id="edgeToEdge"  class="section-bg" >-->
        <!--<div class="container">-->

            <!--<header class="section-header">-->
                <!--<h3 class="section-title">Customer Quilts</h3>-->
            <!--</header>-->

            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<ul id="edgeToEdge-flters">-->
                        <!--<li data-filter="*" class="filter-active">All</li>-->
                        <!--<li data-filter=".filter-app">App</li>-->
                        <!--<li data-filter=".filter-card">Card</li>-->
                        <!--<li data-filter=".filter-web">Web</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row edgeToEdge-container">-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-app wow fadeInUp">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/app1.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/app1.jpg" data-lightbox="edgeToEdge" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">App 1</a></h4>-->
                            <!--<p>App</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-web wow fadeInUp" data-wow-delay="0.1s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/web3.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/web3.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Web 3</a></h4>-->
                            <!--<p>Web</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-app wow fadeInUp" data-wow-delay="0.2s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/app2.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/app2.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">App 2</a></h4>-->
                            <!--<p>App</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-card wow fadeInUp">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/card2.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/card2.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Card 2</a></h4>-->
                            <!--<p>Card</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-web wow fadeInUp" data-wow-delay="0.1s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/web2.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/web2.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Web 2</a></h4>-->
                            <!--<p>Web</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-app wow fadeInUp" data-wow-delay="0.2s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/app3.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/app3.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">App 3</a></h4>-->
                            <!--<p>App</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-card wow fadeInUp">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/card1.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/card1.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Card 1</a></h4>-->
                            <!--<p>Card</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-card wow fadeInUp" data-wow-delay="0.1s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/card3.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/card3.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Card 3</a></h4>-->
                            <!--<p>Card</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-4 col-md-6 edgeToEdge-item filter-web wow fadeInUp" data-wow-delay="0.2s">-->
                    <!--<div class="edgeToEdge-wrap">-->
                        <!--<figure>-->
                            <!--<img src="img/edgeToEdge/web1.jpg" class="img-fluid" alt="">-->
                            <!--<a href="img/edgeToEdge/web1.jpg" class="link-preview" data-lightbox="edgeToEdge" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>-->
                            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
                        <!--</figure>-->

                        <!--<div class="edgeToEdge-info">-->
                            <!--<h4><a href="#">Web 1</a></h4>-->
                            <!--<p>Web</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
    <!--</section>&lt;!&ndash; #edgeToEdge &ndash;&gt;-->



    <!--==========================
      Team Section
    ============================
    <section id="team">
        <div class="container">
            <div class="section-header wow fadeInUp">
                <h3>Team</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="img/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Anita Sundhome</h4>
                                <span>Mother / Owner</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="img/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="img/team-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->-->

    <!--&lt;!&ndash;==========================-->
      <!--Contact Section-->
    <!--============================&ndash;&gt;-->
    <!--<section id="contact" class="section-bg wow fadeInUp">-->
        <!--<div class="container">-->

            <!--<div class="section-header">-->
                <!--<h3>Contact Us</h3>-->
                <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
            <!--</div>-->

            <!--<div class="row contact-info">-->

                <!--<div class="col-md-4">-->
                    <!--<div class="contact-address">-->
                        <!--<i class="ion-ios-location-outline"></i>-->
                        <!--<h3>Address</h3>-->
                        <!--<address>A108 Adam Street, NY 535022, USA</address>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4">-->
                    <!--<div class="contact-phone">-->
                        <!--<i class="ion-ios-telephone-outline"></i>-->
                        <!--<h3>Phone Number</h3>-->
                        <!--<p><a href="tel:+155895548855">+1 5589 55488 55</a></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4">-->
                    <!--<div class="contact-email">-->
                        <!--<i class="ion-ios-email-outline"></i>-->
                        <!--<h3>Email</h3>-->
                        <!--<p><a href="mailto:info@example.com">info@example.com</a></p>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="form">-->
                <!--<div id="sendmessage">Your message has been sent. Thank you!</div>-->
                <!--<div id="errormessage"></div>-->
                <!--<form action="" method="post" role="form" class="contactForm">-->
                    <!--<div class="form-row">-->
                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
                            <!--<div class="validation"></div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-6">-->
                            <!--<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
                            <!--<div class="validation"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
                        <!--<div class="validation"></div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>-->
                        <!--<div class="validation"></div>-->
                    <!--</div>-->
                    <!--<div class="text-center"><button type="submit">Send Message</button></div>-->
                <!--</form>-->
            <!--</div>-->

        <!--</div>-->
    <!--</section>&lt;!&ndash; #contact &ndash;&gt;-->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Military Experience</h3>
            <div class="transbox">
                <p><font color="black">My military career started when I was 17 years old. It lasted 8 years before I decided to get out and go back to school. During my time in the military, I was stationed at two bases and deployed two times. </font> </p>

            </div>

            <h4><font color = "white">Army Reserves 2008-2010 (New Orleans, LA)</font>></h4>
            <div class="transbox">
                <p><font color = "black">
                    In 2008, I was a junior in high school and I decided to enlist in the Army Reserves. The Army, at the time, had a split option program. This program allowed high school students to go to basic training during the summer time and finish training after one's senior year. After high school, I was assigned to 377th Theatre support command at the Belle Chase Naval Air Station. I requested a transfer to active duty during the summer of 2010.
                </font>
                </p>
            </div>
            <h4><font color = "white">Army 2010-2013 (Fort Lewis, WA)</font></h4>
            <div class="transbox">
                <p><font color = "black">
                    My request to transfer to active duty was approved and my first assignment was Fort Lewis, WA.  I was placed in the 593rd Sustainment Brigade, 57th Transportation Battalion, Headquarters and Headquarters detachment. My job title was unit level armor and supply clerk. I was responsible for maintaining all weapons for my company. This included quarterly maintenance and services.
                </font>
                </p>
                <p><font color = "black">
                    One year after being assigned to the unit the battalion was scheduled for deactivation. Most of the companies attached to this battalion would laterally move to a sister battalion. Unfortunately, the headquarters company would have to take care of all the battalions equipment.  I was tasked with deactivating the company. I was given an Army Commendation Medal for my work deactivating the unit as a Private First Class.
                </font>
                </p>
                <p><font color = "black">
                    After the unit was deactivated I was transferred to the 593rd Brigade Headquarters company in order to deploy to Afghanistan with them. We were apart of the Centcom Material Recovery Element (CMRE). Our job was to retrograde the equipment in Afghanistan. Afghanistan’s geography makes it unique compared to other combat zones. Afghanistan is landlocked and does not have any railway system within the country. Everything that is in Afghanistan came by air and air is a expensive means of transportation. It was our job to come up with a plan to get all the vehicles, rolling stock, and other equipment, non-rolling stock out of the country.
                </font>
                </p>

            </div>
            <h4><font color = "white">Army 2013-2016 (Fort Hood, TX)</font></h4>
            <div class="transbox">
                <p><font color = "black">
                    Once I got back stateside I was transferred to Fort Hood, Texas. I was assigned to several Engineer units including the 8th Engineer Combat Battalion and 62nd Engineer Battalion, 104th Engineer Company.
                </font>
                </p>
                <p><font color = "black">
                    During 2014, there was an outbreak of Ebola in East Africa and our unit was assigned to build Ebola treatment facilities. We deployed to Monrovia, Liberia and our camp was in a small police training camp outside the main city. Our unit was not responsible for the medical side of the military mission but we did get a chance to talk and interact with the locals.
                </font>
                </p>
                <p><font color = "black">
                    After that deployment, I decided to get out the military and go back to college. I loved my time in the military but It was hard on the family. I was accepted at the University of Minnesota Duluth and started my new career in Computer Science.
                </font>
                </p>
            </div>
            <!--<a class="cta-btn" href="#">Call To Action</a>-->



        </div>
    </section><!-- #call-to-action -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Brandon Geraci</h3>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <!--<h4>Useful Links</h4>-->
                    <!--<ul>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">About Me</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Experience</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>-->
                    <!--</ul>-->
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Me</h4>
                    <p>
                        Duluth, MN 55811<br>
                        United States <br>
                        <strong>Phone:</strong> +1 218 392-0478<br>
                        <strong>Email:</strong> bran0847@d.umn.edu<br>
                    </p>

                    <div class="social-links">
                        <a href="https://twitter.com/BrandonGeraci" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/brandon.geraci" class="facebook"><i class="fa fa-facebook"></i></a>
                        <!--<a href="#" class="instagram"><i class="fa fa-instagram"></i></a> -->
                        <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
                        <a href="https://www.linkedin.com/in/brandongeraci/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>



            </div>
        </div>
    </div>


</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
