doctype html
html
  head
    title= title
    meta(name='google-site-verification' content='NWglv6LLyOsjuTNPLeC5jESqsdfM53O7IwPXAY0C7BI')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
